# In .dockerignore
# Exclude everything:
#
*

# Now un-exclude the folders or files required for nx to run inside the container
#
!biome.json
!.nvmrc
!.npmrc
!nx.json
!**/package-lock.json
!**/package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.base.json
!workspace.json
!versions.json
!dist/**
!config/**/*.conf
!config/certificates/*
!config/pnpm/*
!config/n8n/*
!tools/dev-scripts/*
