{
  "exclude-categories": "Encryption,Observability",
  "exclude-paths": "node_modules/,dist/,build/,data/,tmp/,external/,.nx/,.pnpm-store/,pnpm-lock.yaml",
  "exclude-queries": [],
  "exclude-results": [],
  "exclude-severities": "info,low",
  "output-path": "./kics-output",
  "payload-path": "",
  "queries-path": "",
  "libraries-path": "",
  "type": [
    "Dockerfile",
    "Docker Compose",
    "Kubernetes"
  ],
  "cloud-provider": "",
  "fail-on": "high",
  "minimal-ui": false,
  "no-progress": false,
  "output-name": "results",
  "report-formats": [
    "json",
    "sarif"
  ],
  "timeout": 300,
  "verbose": false
}
